.title{
    color: #809BCE;
    text-align: center;
}
#moveChoices{
    display:flex;
    color:aqua;
    justify-content: center;
    gap: 10px;
}
#scores{
    display:flex;
    color: #809BCE;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
